<h1>Galeria</h1>
<section>
  <img src="/assets/1.jpg" alt="" />
</section>
<button>Pokaż pozostałe zdjęcia!</button>
<section class="card">
  <p>
    Placeholder żeby grafiki były poniżej pierwszego ekranu. Działamy sprawdzamy
    na Slow3G network throttle.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur provident
    eligendi et sit placeat, voluptate reprehenderit ab, consequuntur
    exercitationem fuga eius illo laudantium. Omnis laborum modi, perspiciatis
    qui voluptatibus voluptates!
  </p>
</section>
<section class="gallery">
  <img [src]="image" alt="image" *ngFor="let image of images" />
</section>
