:root {
  /* color-scheme: light dark; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --sidenav-padding: 30px;
  --sidenav-min-width: calc(var(--sidenav-padding)*2);
  --card-shadow: 7px 4px 15px 0px #a5a5a56b;
  --selected-nav-link: #e0aaa8;
  --header-color: #7079ab;
}

body {
  margin: 0;
  background-color: hsla(259.4117647058824, 100%, 63%, 1);
  background-image: radial-gradient(circle at 15% 85%, hsla(318, 80%, 97%, 1) 19%, transparent 84%), radial-gradient(circle at 31% 1%, hsla(161.47058823529412, 99%, 84%, 1) 12%, transparent 85%), radial-gradient(circle at 88% 87%, hsla(163, 90%, 78%, 1) 3.6400864520532363%, transparent 75.20902830975928%), radial-gradient(circle at 30% 27%, hsla(314, 91%, 59%, 1) 14%, transparent 90%);
  background-blend-mode: normal, normal, normal, normal;
  box-sizing: border-box;
  display: flex;
  align-items: start;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 1px solid #e5c8cc;
  background: #f5dfe2;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #dcdcdc8f;
  cursor: pointer;
}

button:hover {
  background: #eee;
}

button:active {
  background: #ddd;
}

.value {
  font-weight: bold;
}

h1 {
  color: var(--header-color);
}

h2 {
  color: var(--header-color);
  font-size: 1.25em;
  margin: 2rem 0;
}

h3 {
  color: var(--header-color);
  font-size: 1.25em;
  margin: 2rem 0;
}

input {
  padding: 7px 12px;
  border-radius: 4px;
  border: 1px solid #AAA;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.homepage-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.card {
  display: block;
  padding: 30px;
  background-color: #fff;
  box-shadow: var(--card-shadow);
  margin: 20px;
  border-radius: 8px;
  min-width: 150px;
  max-width: 800px;

  header {
    font-size: 1.25em;
    margin: 0 0 30px 0;
    font-weight: bold;
  }
}


.homepage-cards .card {
  text-align: center;
  font-size: 1.4em;
}

/* @media (prefers-color-scheme: dark) {
} */